.section{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
}

.section-header{
    display: flex;
    width: 100%;
    min-height: 5%;
    padding: 0.5em 1em;
}

.section-content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.section-save{
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: flex-end;
}

.section-save button{
    background-color: transparent;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #222;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;

}
.section-save button:hover{
    cursor: pointer;
    color: orange;
}
.section-save button:hover img{
    cursor: pointer;
    filter: invert(40%) sepia(86%) saturate(386%) hue-rotate(349deg) brightness(100%) contrast(98%);

}
.section-save img{
    height: 25px;

}