.accountContents{
    display: flex;
    flex-direction: column;
}
.accountContents h3{
    color: white;
}
.accountContents label{
    font-weight: normal;
    color: #999;
}
.accountContents .ButtonUnstyled-root{
    padding: 0.5em 1em;
    background-color: orange;
    border: none;
    border-radius: 0.35em;
    color: black;
}
.accountContents .ButtonUnstyled-root:hover:not(.Mui-disabled):not(.delete_btn){
    cursor: pointer;
    background-color: yellow;
}
.accountContents .Mui-disabled{
    background-color: #999;
}
.accountContents .delete_btn{
    background-color: crimson;
    color: white;
}
.accountContents .delete_btn:hover{
    background-color: red;
    cursor: pointer;
}
.accountContents form{
    border-bottom: solid thin grey;
    padding-bottom: 0.5em;
}
