.LayoutContents{
    display: flex;
    flex-direction: column;
}

.modal{
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em 2em;
    border-radius: 5px;
    width: 350px;
}

.button-row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.button-row button{
    padding: 0.75em 2em;
    border-radius: 0.25em;
    border: solid thin #0072bd;
    background-color: inherit;
    color:  #0072bd;
}
.button-row button:last-child{
    background-color: #0072bd;
    color: white;
    border: solid thin ;
}
.button-row button:last-child:hover{
    background-color: #0099ff;
    cursor: pointer;
}
.button-row button:first-child:hover{
    background-color: #0099ff;
    color: white;
    cursor: pointer;
}
.layout_button{
    margin: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    background-color: inherit;
    border: none;
    color: white;
}
.layout_button img{
    max-width: 50px;
    margin-right: 0.5em;
}
.layout_button:hover{
    cursor: pointer;
    color: orange;
    filter: invert(40%) sepia(86%) saturate(386%) hue-rotate(349deg) brightness(100%) contrast(98%);
}
