.settingsContents{
    color: white;
}
.publishDiv i{
    display: block;
}
.publishDiv i span{
    float: left;
    margin-right: 0.25em;
    height: 2em;
}
.publishDiv{
    padding-bottom: 0.5em;
    border-bottom: solid thin grey;
}
.addressDiv label{
    font-weight: normal;
    color: #999;
}
.addressDiv .ButtonUnstyled-root{
    padding: 0.5em 1em;
    background-color: orange;
    border: none;
    border-radius: 0.35em;
    color: black;
}
.addressDiv .ButtonUnstyled-root:hover:not(.Mui-disabled){
    cursor: pointer;
    background-color: yellow;
}
.addressDiv .Mui-disabled{
    background-color: #999;
}
.conentsContainer a, .conentsContainera:visited{
    color: orange;
    position: relative;
}
.conentsContainer a:hover{
    color: orangered;
}
.new_tab_icon{
    display: inline-block;
    position: absolute;
    right: -1.5em;
    top: 0.25em;
    max-width: 1em;
}