.sliderlayout{
    display: flex;
    width: 90vw;
    height: 85vh;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    box-sizing: border-box;
}

.slide{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.slider-box{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.sliderLayout-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 50%;
    background-color: white;
    border: solid black 2px;
    position: relative;
}

.sliderLayout-container div{
    display: flex;
    margin: 0 auto;
}

.sliderLayout-preview-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 50%;
    background-color: transparent;
    border: none;
    margin-bottom: 1em;
    position: relative;
}

.sliderLayout-emptyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 50%;
    background-color: transparent;
    border: solid black 2px;
    position: relative;
}
.sliderLayout-empty-contents{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.trash_icon{
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    top: 0;
    border: none;
}
.trash_icon:hover img{
    filter: brightness(2);
    cursor: pointer;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(97%) contrast(103%);}
.trash_icon img{
    max-width: 100%;
}

.re-pick_icon{
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    top: 0;
    left: 35px;
    border: none;
}

.re-pick_icon:hover img{
    filter: brightness(2);
    cursor: pointer;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(97%) contrast(103%);
}

.re-pick_icon img{
    max-width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px back;
    background: gray;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(232, 201, 127);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: orange;
  }