:root{
    --toolbar-width: 40px;
}
.edit-navbar{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 40px);
    height: var(--toolbar-width);
    background-color: white;
    position: fixed;
    gap: 1em;
    padding-right: 1em;
    left: var(--toolbar-width);
    color: #222;
}

.preview-navbar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: var(--toolbar-width);
    position: fixed;
    gap: 1em;
    padding-right: 1em;
    color: "222";
    background-color: white;
}