.loader-modal{
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.loader-box{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}