.textcomponent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 2em;
}
.textcomponent textarea{
    width: 100%;
    height: 80%;
    resize: none;
    margin-top: 20%;
}
