.textcomponent{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 2em;
}
.textcomponent textarea{
    width: 100%;
    height: 80%;
    resize: none;
    margin-top: 20%;
}
.quill{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.ql-toolbar.ql-snow .ql-formats{
margin-right:5px !important;
}
.ql-toolbar{
    max-width: 98%;
}

/* prevent user to create another h1 elem */
.ql-header:first-child{
    display: none !important;
    
}
.ql-toolbar .ql-formats:nth-child(1){
    display: flex;

}
.ql-container, .ql-editor{
    width: 100%;
    height: 100%;
}
.ql-editor{
    min-width: 200px;
}
.quill > .ql-container > .ql-editor.ql-blank::before{
    content: 'Type here...';
    font-size: 1em;
    color: gray;
}